  <footer class="site-footer">
    <div class="footer-item footer-brand">
      <a class="logo-link" href="/" aria-label="Home">
        <img src="/dimundi_logo.png" alt="Dimundi logo" class="logo" />
      </a>
    </div>
    <div class="footer-item footer-company">
      <p><span class="footer-el">NIP:</span> PL5833215709</p>
      <address class="footer-address">
        <strong>Dimundi sp. z o.o.</strong><br>
        <span class="footer-desktop-address">ul. Wały Piastowskie 1/1508<br>80-855 </span>Gdańsk, Poland
      </address>
      <details class="footer-details" open>
        <summary class="footer-details-toggle">
          <span class="footer-show-more">Pokaż więcej</span>
          <span class="footer-show-less">Pokaż mniej</span>
        </summary>
        <div class="footer-details-content">
          <address class="footer-address">
            
            ul. Wały Piastowskie 1/1508<br>
            80-855 Gdańsk, Poland
          </address>
          <p class="footer-bank">
            <span class="footer-el">mBank</span>
            <span class="footer-account">38 1140 2004 0000 3502 7646 6021</span>
          </p>
        </div>
      </details>
    </div>
  </footer>
